extends layout

block nav
  ul.nav
    li
      a(href='/') Home
  ul.nav
    li(class='active')
      a(href='/blog') Blog

block content
  div.span9
    div.row-fluid
      h2= post.title
      h5= post.time
      !{post.post}