extends layout

block nav
  ul.nav
    li
      a(href='/') Home
  ul.nav
    li(class='active')
      a(href='/blog') Blog

block content
  div.span9
    each post, i in posts
      if(i != 10)
        h2: a(href='/blog/' + post.title)= post.title
        h5= post.time
        p= post.post

    div
      ul.pager
        if(page-1)
          li.previous
            a(title='last page', href='?p=' + (page-1) ) &larr;
        if(postsLen==11)
          li.next
            a(title='next page', href='?p=' + (page+1)) &rarr;