extends layout

block nav
  ul.nav
    li
      a(href='/') Home
  ul.nav
    li(class='active')
      a(href='/blog') Blog

block content
  div.span10
    each post in posts
      h2: a(href='/blog-' + post.title)= post.title
      h5= post.time
      p= post.post