extends layout

block nav
  ul.nav
    li
      a(href='/') Home
  ul.nav
    li(class='active')
      a(href='/blog') Blog

block content
  div.span9
    each post, i in posts
      if(i != 10)
        h2: a(href='/blog/' + post.title)= post.title
        h5= post.time
        p= post.post
    div
      if(page-1)
        span(style='float: left;')
          a(title='last page', href='?p=' + (page-1) ) last page

      if(postsLen==11)
        span(style='float: right;')
          a(title='next page', href='?p=' + (page+1)) next page
      