extends layout

block nav
  +navBar()

block content
  - each post, i in posts
    if (i < (posts.length-1) || i == 0)
      if (i == 0) 
        +post(post.title, post.time, post.imgSrc, post.post)
      else 
        +post(post.title, post.time, "", post.post)
        a.btn.btn-primary.btn-xs(href='/blog/' + post.title)
          | Read More
          span.glyphicon.glyphicon-chevron-right
        hr

  div
    ul.pager
      - if(posts.length==11)
        li.next
          a(title='next page', href='blog?p=2') &rarr;
