extends layout

block nav
  ul.nav.navbar-nav
    li(class='active')
      a(href='/') Home
  ul.nav.navbar-nav
    li
      a(href='/blog') Blog

block content
  div.span9
    div.jumbotron
      h1 Thierry
      p 写字吐槽的地方

    div.row-fluid
      div.span5
        h2 We Rule the School
        p.
          Do something pretty while you can.
  
      div.span5
        h2 Liverpool FC
        p.
          You'll never walk alone.
        