extends layout

block nav
  ul.nav
    li(class='active')
      a(href='/') Home
  ul.nav
    li
      a(href='/blog') Blog

block content
  div.span10
    div.hero-unit
      h1 Who is Litmus?
      p Well, he is a...

    div.row
      div.span4
        h2 Centralien
        p.
          He has studied at Ecole Centrale de Pekin.
  
      div.span4
        h2 iOS Developer
        p.
          He started to develop iOS App since 2012.
      
      div.span4
        h2 Just someone
        p.
          Actually, he is not a special guy. 
        