extends layout

block nav
  ul.nav
    li(class='active')
      a(href='/') Home
  ul.nav
    li
      a(href='/blog') Blog

block content
  div.span10
    div.hero-unit
      h1 Thierry
      p 写字吐槽的地方

    div.row
      div.span4
        h2 We Rule the School
        p.
          Do something pretty while you can.
  
      div.span4
        h2 Liverpool FC
        p.
          You'll never walk alone.
      
      div.span4
        h2 杨利伟
        p.
          在一件事到了你坚持不下去的时候，它往往就接近成功了。
        