!!! transitional
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(charset='utf-8', src='/editor/kindeditor-min.js')
    script(charset='utf-8', src='/editor/lang/zh_CN.js')
    script.
      var editor; KindEditor.ready(function(K) { editor = K.create('#editor_id'); });
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='txt/css', href='/stylesheets/bootstrap-responsive.css')
    style.
      body{padding-left:30px;padding-right:30px;padding-top:20px;padding-bottom:40px;}
    title=title
  body
    div.navbar.navbar-inverse(role='navigation')
      div.navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='#bs-example-navbar-collapse-9')
          span.sr-only
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Litmus Blog
      div.collapse.navbar-collapse
          block nav

    div#container.container
      div.row
        div.col-md-3
          div.well
            each timeline in timelines
              h5: a.text-warning(href='/tag/' + timeline)= timeline
        div.col-md-9
          block content
    
    hr
    footer
      p Copyright © 2013 Litmus.
      p Made in Beijing