extends layout

block nav
  +navBar(3)

block content
  div.page-header
    h1 iOS apps
  div.row
      div.col-md-3
        div.thumbnail
          img(src='http://a2.mzstatic.com/us/r30/Purple6/v4/cc/5c/68/cc5c6815-d0ec-aaf8-3041-fe3f311f74e2/mzl.htkdfjty.175x175-75.jpg')
          div.caption
            h3 Colorwork
            a.button.btn.btn-primary(href='https://itunes.apple.com/hk/app/colorwork-new-way-to-work/id585993965?mt=8', target='view_window')
              i.fa.fa-apple  iPhone
      div.col-md-3
        div.thumbnail
          img(src='http://a2.mzstatic.com/us/r30/Purple6/v4/91/62/08/9162083d-1be7-d5a2-f027-7df21a6b0d32/mzl.rdixwazy.175x175-75.jpg')
          div.caption
            h3 Book List
            a.button.btn.btn-primary(href='https://itunes.apple.com/hk/app/book-list/id842434060?mt=8', target='view_window')
              i.fa.fa-apple  iPhone

  
    