extends layout

block nav
  +navBar(0)

block content
    form(method='post', enctype='multipart/form-data')
      fieldset
        legend #{title}
        div.form-group
          label.control-label(for='title') Title
          div.controls
            input.form-control(type='text',id='title',name='title',value=(post==undefined)?'':post.title)
        div.form-group
          label.control-label(for='editor_id') Text
          div.controls
            textarea.form-control(id='editor_id',rows='15',name='post')= (post==undefined)?'':post.post
        div.form-group
          label.control-label(for='uploadImg') Cover Image
          div.controls
            input.form-control(type='text',id='file',name='imgSrc',value=(post==undefined)?'':post.imgSrc)
        div.checkbox
          label(for='private') Private
            - if (post)
              - if (post.tag)
                input(type='checkbox', name='tag', checked='checked')
              - else
                input(type='checkbox', name='tag')
        hr
        div.form-actions
          button.btn.btn-primary(type='submit') Submit
