extends layout

block nav
  +navBar(1)

block content
    form(method='post')
      fieldset
        legend #{title}
        div.form-group
          label.control-label(for='title') Title
          div.controls
            input.form-control(type='text',id='title',name='title',value=(post==undefined)?'':post.title)
        div.form-group
          label.control-label(for='editor_id') Text
          div.controls
            textarea.form-control(id='editor_id',rows='15',name='post')= (post==undefined)?'':post.post
        div.form-group
          label.control-label(for='title') Tag
          select.form-control(multiple='multiple', id='tag',name='tag',value=(post==undefined)?'':post.tag)
            each tag in tags
             option #{tag}
        hr
        div.form-actions
          button.btn.btn-primary(type='submit') Save
          a.button.btn.btn-warning(href='/') Cancel