extends layout

block nav
  ul.nav
    li
      a(href='/') Home
  ul.nav
    li(class='active')
      a(href='/blog') Blog

block content
  div.span9
    form(method='post')
      fieldset
        legend #{title}
        div.form-group
          label.control-label(for='title') Title
          div.controls
            input.input-xxlarge(type='text',id='title',name='title',value=(post==undefined)?'':post.title)
        div.form-group
          label.control-label(for='editor_id') Text
          div.controls
            textarea.input-xxlarge.span16(id='editor_id',rows='15',name='post')= (post==undefined)?'':post.post
        div.form-group
          label.control-label(for='title') Tag
          div.controls
            input.input-xxlarge(type='text',id='tag',name='tag',value=(post==undefined)?'':post.tag)
        div.form-actions
          button.btn.btn-primary(type='submit') Save
          a.button.btn(href='/') Cancel